Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

test new pre-commit
  .pre-commit-config.yaml
Due: none

implement three point centerline alignment
  .readthedocs.yaml
  ROADMAP.MD
  data/centerline.txt
  data/centerline_raw.csv
  data/ivus_rest/combined_sorted_manual.csv
  data/ivus_stress/combined_sorted_manual.csv
  data/resampled_centerline.txt
  multimodars/__init__.py
  multimodars/_converters.py
  pyproject.toml
  src/binding/align.rs
  src/binding/classes.rs
  src/binding/mod.rs
  src/centerline_align/align_algorithms.rs
  src/centerline_align/mod.rs
  src/centerline_align/preprocessing.rs
  src/io/input.rs
  src/io/load_geometry.rs
  src/lib.rs
  src/mesh_to_centerline/mod.rs
  src/mesh_to_centerline/preprocessing.rs
  src/processing/geometries.rs
Due: rust-fmt, rust-test, python-black, python-ruff

implement manual alignment
  data/centerline.txt
  data/resampled_centerline.txt
  multimodars/__init__.py
  multimodars/_wrappers.py
  src/binding/align.rs
  src/centerline_align/mod.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add PyContour methods
  README.md
  ROADMAP.MD
  src/binding/classes.rs
  src/processing/contours.rs
Due: rust-fmt, rust-test

add methods PyContour, PyContourPoints, update README, add new test cases
  README.md
  ROADMAP.MD
  data/ivus_poststent/combined_sorted_manual.csv
  data/ivus_poststent/diastolic_contours.csv
  data/ivus_poststent/diastolic_reference_points.csv
  data/ivus_poststent/systolic_contours.csv
  data/ivus_poststent/systolic_reference_points.csv
  data/ivus_prestent/combined_sorted_manual.csv
  data/ivus_prestent/diastolic_contours.csv
  data/ivus_prestent/diastolic_reference_points.csv
  data/ivus_prestent/systolic_contours.csv
  data/ivus_prestent/systolic_reference_points.csv
  media/dynamic_lumen_changes.png
  multimodars/_converters.py
  src/binding/classes.rs
  src/binding/entry_arr.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add readthedocs build
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/api.md
  docs/build.sh
  docs/conf.py
  docs/index.rst
  docs/make.bat
  pyproject.toml
Due: python-black, python-ruff

test different docs setup
  .readthedocs.yaml
  Cargo.lock
  Cargo.toml
  docs/conf.py
  pyproject.toml
Due: python-black, python-ruff

test new setup readthedocs
  .readthedocs.yaml
  docs/conf.py
Due: python-black, python-ruff

still failing readthedocs test
  .readthedocs.yaml
Due: none

update readthedocs.yaml
  .readthedocs.yaml
Due: none

last desperate try
  .readthedocs.yaml
Due: none

fix of failed pure bash installation
  .readthedocs.yaml
Due: none

fix fail pip install maturin
  .readthedocs.yaml
Due: none

try maturin as extra dependency
  .readthedocs.yaml
Due: none

remove all venv stuff
  .readthedocs.yaml
Due: none

use VIRTUAL_ENV to activate
  .readthedocs.yaml
Due: none

add symlink
  .readthedocs.yaml
Due: none

error in symlink
  .readthedocs.yaml
Due: none

typo in print path
  .readthedocs.yaml
Due: none

updated docstrings and api.md
  docs/api.md
  multimodars/__init__.py
  src/binding/mod.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix pure python submodules
  docs/api.md
  src/binding/mod.rs
Due: rust-fmt, rust-test

fix typos, add docs_dir
  .readthedocs.yaml
  src/binding/mod.rs
Due: rust-fmt, rust-test

ad absolute paths conf.py since docs_dir fails
  .readthedocs.yaml
  docs/conf.py
Due: python-black, python-ruff

fix another typo
  docs/_static/.gitkeep
  src/binding/mod.rs
Due: rust-fmt, rust-test

add basic test setup
  README.md
  ROADMAP.MD
  tests/conftest.py
  tests/test_converters.py
  tests/test_core.py
  tests/test_wrappers.py
Due: python-black, python-ruff

fix README
  README.md
Due: none

backup todo
  .gitignore
  ROADMAP.MD
  examples/ivus_to_centerline.ipynb
  multimodars/_converters.py
Due: python-black, python-ruff

add wrapper to_array
  .gitignore
  examples/ivus_to_centerline.ipynb
  multimodars/__init__.py
  multimodars/_converters.py
Due: python-black, python-ruff

write tests for rust python methods and converters
  ROADMAP.MD
  examples/ivus_to_centerline.ipynb
  multimodars/__init__.py
  multimodars/_converters.py
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/mod.rs
  src/io/input.rs
  src/io/mod.rs
  src/lib.rs
  tests/conftest.py
  tests/test_converters.py
  tests/test_core.py
  tests/tests_todo.md
Due: rust-fmt, rust-test, python-black, python-ruff

add fixture numpy arrays for full workflow tests
  data/fixtures/dia_rest.npy
  data/fixtures/dia_stress.npy
  data/fixtures/sys_rest.npy
  data/fixtures/sys_stress.npy
  docs/api.md
  examples/ivus_to_centerline.ipynb
  multimodars/_converters.py
  tests/conftest.py
Due: python-black, python-ruff

fix error truncate to same length
  README.md
  ROADMAP.MD
  data/fixtures/dia_rest.npy
  data/fixtures/dia_stress.npy
  examples/ivus_to_centerline.ipynb
  multimodars/__init__.py
  src/binding/mod.rs
  src/lib.rs
  src/processing/geometries.rs
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

fix converters
  data/fixtures/dia_rest.npy
  data/fixtures/dia_rest_catheter.npy
  data/fixtures/dia_rest_contours.npy
  data/fixtures/dia_rest_ref_pt.npy
  data/fixtures/dia_rest_walls.npy
  data/fixtures/dia_stress.npy
  data/fixtures/dia_stress_catheter.npy
  data/fixtures/dia_stress_contours.npy
  data/fixtures/dia_stress_ref_pt.npy
  data/fixtures/dia_stress_walls.npy
  data/fixtures/sys_rest_catheter.npy
  data/fixtures/sys_rest_contours.npy
  data/fixtures/sys_rest_ref_pt.npy
  data/fixtures/sys_rest_walls.npy
  data/fixtures/sys_stress_catheter.npy
  data/fixtures/sys_stress_contours.npy
  data/fixtures/sys_stress_ref_pt.npy
  data/fixtures/sys_stress_walls.npy
  docs/api.md
  examples/ivus_to_centerline.ipynb
  multimodars/__init__.py
  multimodars/_converters.py
  tests/conftest.py
Due: python-black, python-ruff

fix converters
  tests/test_converters.py
Due: python-black, python-ruff

implement i32 instead of u32, where negativ unexpected behaviour
  ROADMAP.MD
  data/fixtures/dia_rest_catheter.npy
  data/fixtures/dia_rest_contours.npy
  data/fixtures/dia_rest_ref_pt.npy
  data/fixtures/dia_rest_walls.npy
  data/fixtures/dia_stress_catheter.npy
  data/fixtures/dia_stress_contours.npy
  data/fixtures/dia_stress_ref_pt.npy
  data/fixtures/dia_stress_walls.npy
  data/fixtures/sys_rest.npy
  data/fixtures/sys_rest_catheter.npy
  data/fixtures/sys_rest_contours.npy
  data/fixtures/sys_rest_ref_pt.npy
  data/fixtures/sys_rest_walls.npy
  data/fixtures/sys_stress.npy
  data/fixtures/sys_stress_catheter.npy
  data/fixtures/sys_stress_contours.npy
  data/fixtures/sys_stress_ref_pt.npy
  data/fixtures/sys_stress_walls.npy
  examples/ivus_to_centerline.ipynb
  multimodars/io/read_geometrical.py
  pyproject.toml
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/centerline_align/align_algorithms.rs
  src/centerline_align/preprocessing.rs
  src/io/input.rs
  src/io/mod.rs
  src/processing/comparison.rs
  src/processing/contours.rs
  src/processing/geometries.rs
  src/processing/process_case.rs
  src/processing/walls.rs
  src/utils/test_utils.rs
  tests/test_wrappers.py
  tests/tests_todo.md
Due: rust-fmt, rust-test, python-black, python-ruff

backup test data still not working
  ROADMAP.MD
  data/fixtures/ali_test/combined_sorted_manual.csv
  data/fixtures/ali_test/diastolic_contours.csv
  data/fixtures/ali_test/diastolic_reference_points.csv
  data/fixtures/ali_test/frame_to_frame_transforms.txt
  data/fixtures/ali_test/systolic_contours.csv
  data/fixtures/ali_test/systolic_reference_points.csv
  data/fixtures/diastolic_contours.txt
  multimodars/_converters.py
  src/binding/classes.rs
  src/io/input.rs
Due: rust-fmt, rust-test, python-black, python-ruff

delete mandatory records read in for contours
  data/fixtures/ali_test/combined_sorted_manual.csv
  data/fixtures/ali_test/diastolic_contours.csv
  data/fixtures/ali_test/diastolic_reference_points.csv
  data/fixtures/ali_test/frame_to_frame_transforms.txt
  data/fixtures/ali_test/systolic_contours.csv
  data/fixtures/ali_test/systolic_reference_points.csv
  data/fixtures/idealized_test/diastolic_contours.csv
  data/fixtures/idealized_test/diastolic_reference_points.csv
  data/fixtures/idealized_test/frame_to_frame_transforms.txt
  data/fixtures/idealized_test/systolic_contours.csv
  data/fixtures/idealized_test/systolic_reference_points.csv
  src/io/mod.rs
  src/processing/geometries.rs
  src/processing/walls.rs
Due: rust-fmt, rust-test

improve table formatting
  src/processing/contours.rs
Due: rust-fmt, rust-test

add contributing.md
  CONTRIBUTING.md
  README.md
  docs/conf.py
  pyproject.toml
  src/io/input.rs
  src/io/mod.rs
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

add pytest to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
