Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

better coronary scaling
  multimodars/ccta/debug_plots.py
  multimodars/ccta/stitching/boundary.py
  multimodars/ccta/stitching/core.py
Due: python-black, python-ruff

fix resampling of boundary
  multimodars/ccta/stitching/boundary.py
Due: python-black, python-ruff

update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.MD
Due: none

update docs
  docs/api/adjust_ccta.rst
Due: none

revert to original fullworkflow
  .claude/debug_meshes/stitched_after_fix.stl
  examples/fullworkflow.py
Due: python-black, python-ruff

remove downloads (misleading)
  README.md
Due: none

hotfix add smoothing to boundary and cleanup boundary.py
  multimodars/ccta/stitching/boundary.py
Due: python-black, python-ruff

delete debug data
  .claude/debug_meshes/stitched_after_fix.stl
Due: none

hotfix stitching funciton
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/notebooks/ccta_notebook.ipynb
  docs/tutorial_ccta.rst
  examples/fullworkflow.py
  multimodars/ccta/stitching/boundary.py
  multimodars/ccta/stitching/core.py
  multimodars/io/read_geometrical.py
  tests/test_ccta.py
  uv.lock
Due: python-black, python-ruff

add forgotten doc string updates
  CHANGELOG.md
  multimodars/ccta/__init__.py
  multimodars/ccta/stitching/core.py
Due: python-black, python-ruff

refactor mean_spacinga and cumulative arc length
  src/ccta/discretizing/resampling.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/input.rs
  src/types/native.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test

anchor first then resample
  CHANGELOG.md
  src/intravascular/centerline_align/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test

fix if ref frame not at frame 0
  CHANGELOG.md
  src/intravascular/centerline_align/align_algorithms.rs
  src/types/native/geometry.rs
Due: rust-fmt, rust-test

imrpove get transformations warning and update changelog
  CHANGELOG.md
  src/intravascular/centerline_align/align_algorithms.rs
Due: rust-fmt, rust-test

bump version
  Cargo.lock
  Cargo.toml
Due: none

update docs
  README.md
  docs/tutorial_intravascular.rst
  multimodars/_processing.py
  src/intravascular/binding/align.rs
Due: rust-fmt, rust-test, python-black, python-ruff

revert
  Cargo.lock
  Cargo.toml
Due: none

alignment takes the prepared centelrine, and resamples to frame distance on demand
  CHANGELOG.md
  docs/tutorial_ccta.rst
  examples/fullworkflow.py
  multimodars/_processing.py
  src/intravascular/binding/align.rs
  src/intravascular/centerline_align/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
Due: rust-fmt, rust-test, python-black, python-ruff

optimize rotation strategy combined aligned
  CHANGELOG.md
  docs/tutorial_ccta.rst
  docs/tutorial_intravascular.rst
  examples/fullworkflow.py
  multimodars/_processing.py
  src/intravascular/binding/align.rs
  src/intravascular/centerline_align/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/processing/process_utils.rs
Due: rust-fmt, rust-test, python-black, python-ruff

bump version and fix CI pipeline
  .github/workflows/CI.yml
  Cargo.lock
  Cargo.toml
Due: none

fix anomalous labeling
  CHANGELOG.md
  multimodars/ccta/labeling/core.py
  multimodars/ccta/labeling/helpers.py
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

update docs and bump verison
  Cargo.lock
  Cargo.toml
  docs/notebooks/ccta_notebook.ipynb
  docs/tutorial_ccta.rst
Due: none

update labeling to work with sidebranches
  CHANGELOG.md
  docs/notebooks/ccta_notebook.ipynb
  docs/tutorial_ccta.rst
  multimodars/ccta/labeling/core.py
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

fix docs
  docs/tutorial_ccta.rst
Due: none

remove unnecessary constructor discretizedvesseltree
  src/ccta/discretizing/vessel_tree.rs
  src/types/native/discretized_tree.rs
Due: rust-fmt, rust-test

use rtree for discretized vessel tree instead of voronoi
  src/ccta/discretizing/projecting.rs
Due: rust-fmt, rust-test

small clean up
  src/ccta/discretizing/projecting.rs
  src/types/native.rs
Due: rust-fmt, rust-test

change spline creation strategy to more realistic
  CHANGELOG.md
  docs/notebooks/ccta_notebook.ipynb
  docs/tutorial_ccta.rst
  examples/fullworkflow.py
  multimodars/_processing.py
  multimodars/ccta/discretization_map.py
  multimodars/ccta/labeling/core.py
  multimodars/multimodars.pyi
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing.rs
  src/ccta/discretizing/anchors.rs
  src/ccta/discretizing/plan.md
  src/ccta/discretizing/projecting.rs
  src/ccta/discretizing/resampling.rs
  src/ccta/discretizing/slicing.rs
  src/ccta/discretizing/vessel_tree.rs
Due: rust-fmt, rust-test, python-black, python-ruff

generalize reference detection for sidebranches
  CHANGELOG.md
  docs/tutorial_ccta.rst
  multimodars/ccta/debug_plots.py
  multimodars/multimodars.pyi
  src/ccta/discretizing.rs
  src/ccta/discretizing/vessel_tree.rs
  src/types/binding/py_discretized_vessel_tree.rs
  src/types/native/discretized_tree.rs
Due: rust-fmt, rust-test, python-black, python-ruff

shorten comments and doc strings
  CHANGELOG.md
  multimodars/_processing.py
  multimodars/ccta/discretization_map.py
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing.rs
  src/ccta/discretizing/anchors.rs
  src/ccta/discretizing/resampling.rs
  src/ccta/discretizing/slicing.rs
  src/ccta/discretizing/vessel_tree.rs
  src/types/binding/py_discretized_vessel_tree.rs
  src/types/native/discretized_tree.rs
Due: rust-fmt, rust-test, python-black, python-ruff

update notebooks and docs
  docs/api/adjust_ccta.rst
  docs/api/classes/PyDiscretizedVesselTree.rst
  docs/notebooks/ccta_notebook.ipynb
  docs/tutorial_ccta.rst
  multimodars/ccta/discretization_map.py
  pyproject.toml
Due: python-black, python-ruff

add error handling for failing discretize_vessel_tree
  CHANGELOG.md
  multimodars/_processing.py
  multimodars/ccta/discretization_map.py
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing.rs
  src/ccta/discretizing/anchors.rs
  src/ccta/discretizing/vessel_tree.rs
Due: rust-fmt, rust-test, python-black, python-ruff

error handle failing alignmnet case
  src/intravascular/centerline_align/align_algorithms.rs
Due: rust-fmt, rust-test

add the option to include parent centerline up to this point.
  multimodars/multimodars.pyi
  src/types/binding/py_centerline.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test

update CHANGELOG
  CHANGELOG.md
Due: none

adjust labelling to follow pullback path
  CHANGELOG.md
  docs/tutorial_ccta.rst
  multimodars/ccta/labeling/core.py
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
Due: rust-fmt, rust-test, python-black, python-ruff

update docs
  docs/tutorial_ccta.rst
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
