Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

.pre-commit-config.yaml:

# repos:
#   - repo: local
#     hooks:
#       - id: rust-fmt
#         name: Rust format (cargo fmt)
#         entry: bash -lc 'cargo fmt'
#         language: system
#         types: [rust]

#       - id: rust-test
#         name: Rust unit tests
#         entry: bash -lc 'cargo test --lib --quiet'
#         language: system
#         # only run when Rust files change
#         files: \.rs$

#       - id: local-black
#         name: Black
#         entry: bash -lc 'run black'
#         language: system
#         types: [python]

#       - id: local-ruff
#         name: Ruff
#         entry: bash -lc 'ruff check --fix'
#         language: system
#         types: [python]

repos:
  - repo: local
    hooks:
      # Rust formatting - operates on whole project
      - id: rust-fmt
        name: Rust format
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false  # Important for project-wide commands

      # Rust tests - whole project
      - id: rust-test
        name: Rust unit tests
        entry: cargo test --lib --quiet
        language: system
        types: [rust]
        pass_filenames: false  # Important

      # Python formatting
      - id: python-black
        name: Black formatting
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--quiet]

      # Python linting
      - id: python-ruff
        name: Ruff linting
        entry: ruff
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

small refactor
  multimodars/ccta/labeling.py
Due: python-black, python-ruff

fix the label_geometry function cleanup
  CHANGELOG.md
  multimodars/ccta/labeling.py
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

fix the true bug, where results is not correctly updated
  CHANGELOG.md
  examples/fullworkflow.py
  multimodars/ccta/labeling.py
Due: python-black, python-ruff

ensure that labeling cleanup checks for connectivity
  CHANGELOG.md
  src/ccta/adjust_mesh/label_coronary.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

improve labelling algorithm
  src/ccta/adjust_mesh/label_coronary.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

update version
  Cargo.lock
  Cargo.toml
Due: none

update changelog
  CHANGELOG.md
Due: none

add two different orientation methods
  multimodars/ccta/labeling.py
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/label_coronary.rs
  src/types/binding/py_centerline.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test, python-black, python-ruff

split branches now by centerline point idx
  docs/tutorial_ccta.rst
  multimodars/ccta/debug_plots.py
  multimodars/ccta/discretization_map.py
  multimodars/multimodars.pyi
  src/types/binding/py_centerline.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test, python-black, python-ruff

udpate README
  README.md
Due: none

refactor extract stitching into it's own module
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/fixing_functions.py
  multimodars/ccta/scaling.py
  multimodars/ccta/stitching.py
  tests/test_ccta.py
Due: python-black, python-ruff

rough refactor of stitching
  examples/stitching.py
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/scaling.py
  multimodars/ccta/stitching.py
  tests/test_ccta.py
Due: python-black, python-ruff

add debug plot for boundary ring identification
  multimodars/__init__.py
  multimodars/ccta/debug_plots.py
  multimodars/ccta/stitching.py
Due: python-black, python-ruff

cleanup functions for boundary rings after creation
  multimodars/ccta/debug_plots.py
  multimodars/ccta/stitching.py
Due: python-black, python-ruff

allow for two boundary rings after removing
  multimodars/ccta/debug_plots.py
  multimodars/ccta/stitching.py
Due: python-black, python-ruff

further clean up
  multimodars/ccta/boundary.py
  multimodars/ccta/debug_plots.py
  multimodars/ccta/stitching.py
Due: python-black, python-ruff

directly store the different boundary rings
  multimodars/ccta/scaling.py
  multimodars/ccta/stitching.py
Due: python-black, python-ruff

bump version
  Cargo.lock
  Cargo.toml
Due: none

optimize align_combined algorithm
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/processing/process_utils.rs
Due: rust-fmt, rust-test

refactor ccta module
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/boundary.py
  multimodars/ccta/debug_plots.py
  multimodars/ccta/labeling/__init__.py
  multimodars/ccta/labeling/core.py
  multimodars/ccta/labeling/helpers.py
  multimodars/ccta/mesh_regions.py
  multimodars/ccta/postprocessing.py
  multimodars/ccta/scaling.py
  multimodars/ccta/scaling_helpers.py
  multimodars/ccta/stitching.py
  multimodars/ccta/stitching/__init__.py
  multimodars/ccta/stitching/boundary.py
  multimodars/ccta/stitching/core.py
  multimodars/ccta/stitching/helpers.py
  multimodars/io/write_geometries.py
  tests/test_ccta.py
Due: python-black, python-ruff

remove unneeded postprocessing in stichting
  multimodars/ccta/__init__.py
  multimodars/ccta/postprocessing.py
  tests/test_ccta.py
Due: python-black, python-ruff

try more aggresive boundary stitching
  multimodars/ccta/stitching/boundary.py
  multimodars/ccta/stitching/core.py
Due: python-black, python-ruff

wrong order
  multimodars/ccta/stitching/boundary.py
Due: python-black, python-ruff

get test case to fix
  .gitignore
  examples/fullworkflow.py
Due: python-black, python-ruff

create idea for new approach with realistic wallthickness ostium.
  examples/fullworkflow.py
  multimodars/ccta/stitching/boundary.py
  multimodars/ccta/stitching/core.py
Due: python-black, python-ruff

propagate boundary to k layers
  examples/fullworkflow.py
  multimodars/ccta/stitching/boundary.py
Due: python-black, python-ruff
