Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

refactor process_directory function
  src/intravascular/io/input.rs
Due: rust-fmt, rust-test

move distance_to to point3d and simplify find_reference_cl_point_idx
  src/ccta/discretizing/projecting.rs
  src/types/binding/py_contour_point.rs
  src/types/native.rs
  src/types/native/centerline.rs
  src/types/native/contour.rs
  src/types/native/contour_point.rs
Due: rust-fmt, rust-test

refactor cleanup_vtp_data
  multimodars/ccta/discretization_map.py
  multimodars/multimodars.pyi
  src/types/native/centerline.rs
Due: rust-fmt, rust-test, python-black, python-ruff

adjust input for new format and updated gitattributes
  src/intravascular/io/input.rs
Due: rust-fmt, rust-test

updated gitattributes
  .gitattributes
Due: none

bump version
  Cargo.lock
  Cargo.toml
Due: none

fix docs error
  docs/api/classes/PyCenterlinePoint.rst
Due: none

add downloads badge to README
  README.md
Due: none

refactor label coronary using nalgebra
  src/ccta/adjust_mesh/label_coronary.rs
Due: rust-fmt, rust-test

update changelog
  CHANGELOG.md
Due: none

add step_size to remove_occluded_points_ray_triangle
  CHANGELOG.md
  multimodars/ccta/labeling.py
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
Due: rust-fmt, rust-test, python-black, python-ruff

run timing analysis and formulate optimization plan
  ROADMAP.MD
Due: none

use RTree to solve find_centerline_bounded_points
  Cargo.lock
  Cargo.toml
  ROADMAP.MD
  src/ccta/adjust_mesh/label_coronary.rs
Due: rust-fmt, rust-test

leverage RTree wherever possible
  ROADMAP.MD
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/scale_coronary.rs
Due: rust-fmt, rust-test

move find faces to rust
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

move reclassification to rust
  ROADMAP.MD
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

replace the slow trimehs version with rust implementation
  ROADMAP.MD
  multimodars/ccta/labeling.py
  multimodars/ccta/manipulating.py
  multimodars/multimodars.pyi
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  tests/test_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

cleanup all the changes
  CHANGELOG.md
  ROADMAP.MD
  docs/benchmark.rst
  multimodars/ccta/labeling.py
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

update ROADMAP
  ROADMAP.MD
Due: none

use par iter for discretize vessel tre
  CHANGELOG.md
  ROADMAP.MD
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/discretizing/vessel_tree.rs
Due: rust-fmt, rust-test

improve anomalous region labeling
  CHANGELOG.md
  examples/fullworkflow.py
  multimodars/ccta/labeling.py
  tests/test_ccta.py
Due: python-black, python-ruff

fix centerline selection as main
  CHANGELOG.md
  ROADMAP.MD
  examples/fullworkflow.py
  src/intravascular/io/input.rs
  src/types/binding/py_centerline.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test, python-black, python-ruff

use nalgebra fro scale_coronary as well
  src/ccta/adjust_mesh/scale_coronary.rs
Due: rust-fmt, rust-test

first test for radius from centerline
  .pre-commit-config.yaml
  examples/fullworkflow.py
  examples/stitching.py
  multimodars/_processing.py
  multimodars/ccta/__init__.py
  multimodars/ccta/labeling.py
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/intravascular/io/input.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/to_object/process.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add hardcoded maximum for the radius
  src/ccta/adjust_mesh/label_coronary.rs
Due: rust-fmt, rust-test

remove the auto radius from all functions
  multimodars/_processing.py
  multimodars/ccta/__init__.py
  multimodars/ccta/labeling.py
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
Due: rust-fmt, rust-test, python-black, python-ruff

Update Changelog
  CHANGELOG.md
Due: none

hotfix discretize_vessel_tree
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  multimodars/ccta/discretization_map.py
Due: python-black, python-ruff

specify that degree for align_manual
  src/intravascular/binding/align.rs
Due: rust-fmt, rust-test

fix the trailing old call sites
  multimodars/_processing.py
  multimodars/multimodars.pyi
  tests/test_intravascular.py
Due: python-black, python-ruff

bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

add seperate lca and rca removed parameter, fix stitcht boundary ring out of bound
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/benchmark.rst
  docs/tutorial_ccta.rst
  examples/fullworkflow.py
  examples/stitching.py
  multimodars/ccta/__init__.py
  multimodars/ccta/labeling.py
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
