Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

refactor: use parent module idiom for function imports
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing/mod.rs
  src/ccta/discretizing/vessel_tree.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/io/mod.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/to_object/mod.rs
  src/lib.rs
Due: rust-fmt, rust-test

update changelog
  CHANGELOG.md
Due: none

bump version
  Cargo.lock
  Cargo.toml
Due: none

remove oldschool mod.rs naming
  src/ccta.rs
  src/ccta/adjust_mesh.rs
  src/ccta/binding.rs
  src/ccta/discretizing.rs
  src/intravascular.rs
  src/intravascular/binding.rs
  src/intravascular/centerline_align.rs
  src/intravascular/io.rs
  src/intravascular/processing.rs
  src/intravascular/to_object.rs
  src/intravascular/utils.rs
Due: rust-fmt, rust-test

move all classes into module
  src/ccta/adjust_mesh.rs
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing.rs
  src/ccta/discretizing/projecting.rs
  src/ccta/discretizing/resampling.rs
  src/ccta/discretizing/utils.rs
  src/ccta/discretizing/vessel_tree.rs
  src/intravascular/binding/classes.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/processing/align_between.rs
  src/lib.rs
  src/types/binding/mod.rs
  src/types/binding/py_centerline.rs
  src/types/binding/py_centerline_point.rs
  src/types/binding/py_contour.rs
  src/types/binding/py_contour_point.rs
  src/types/binding/py_discretized_tree.rs
  src/types/binding/py_frame.rs
  src/types/binding/py_geometry.rs
  src/types/binding/py_geometry_pair.rs
  src/types/binding/py_input_data.rs
  src/types/binding/record.rs
  src/types/mod.rs
  src/types/native/centerline.rs
  src/types/native/centerline_point.rs
  src/types/native/contour.rs
  src/types/native/contour_point.rs
  src/types/native/discretized_tree.rs
  src/types/native/frame.rs
  src/types/native/geometry.rs
  src/types/native/geometry_pair.rs
  src/types/native/input_data.rs
  src/types/native/mod.rs
  src/types/native/record.rs
Due: rust-fmt, rust-test

refactor from parent modules into child modules
  src/intravascular/binding.rs
  src/intravascular/binding/functions.rs
  src/intravascular/centerline_align.rs
  src/intravascular/centerline_align/align.rs
  src/intravascular/io.rs
  src/intravascular/io/build.rs
  src/intravascular/to_object.rs
  src/intravascular/to_object/process.rs
  src/types.rs
  src/types/binding.rs
  src/types/native.rs
Due: rust-fmt, rust-test

update docs
  docs/api/classes/PyContourType.rst
  docs/api/classes/PyDiscretizedVesselTree.rst
  docs/api/classes/index.rst
  src/intravascular/binding/classes.rs
  src/lib.rs
  src/types/binding/py_discretized_tree.rs
Due: rust-fmt, rust-test

remove now unncessary classes.rs
  src/intravascular/binding.rs
  src/intravascular/binding/align.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/functions.rs
Due: rust-fmt, rust-test

move all types into own module
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing/vessel_tree.rs
  src/lib.rs
  src/types/binding.rs
  src/types/binding/py_discretized_vessel_tree.rs
  src/types/binding/py_input_data.rs
  src/types/binding/py_record.rs
  src/types/native.rs
  src/types/native/discretized_tree.rs
Due: rust-fmt, rust-test

move 3D poitn trait to types, small refactor of some functions in types with 3D point
  src/ccta/adjust_mesh.rs
  src/types/native.rs
  src/types/native/centerline_point.rs
  src/types/native/contour.rs
  src/types/native/contour_point.rs
Due: rust-fmt, rust-test

update changelog fix python binding doc strings
  CHANGELOG.md
  src/ccta/adjust_mesh.rs
  src/ccta/binding/ccta_py.rs
  src/types/binding/py_centerline.rs
  src/types/binding/py_centerline_point.rs
Due: rust-fmt, rust-test

update dependencies
  Cargo.toml
Due: none

move downsample_contour_points
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/process_utils.rs
  src/types/binding/py_geometry.rs
  src/types/native.rs
  src/types/native/contour_point.rs
Due: rust-fmt, rust-test

remove duplicate functions and names
  src/ccta/adjust_mesh/scale_coronary.rs
  src/intravascular/binding/entry.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/to_object/write_mtl.rs
Due: rust-fmt, rust-test

simplify toml dependency
  Cargo.lock
  Cargo.toml
Due: none

move all types into own module
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing/vessel_tree.rs
  src/lib.rs
  src/types/binding.rs
  src/types/binding/py_discretized_vessel_tree.rs
  src/types/binding/py_input_data.rs
  src/types/binding/py_record.rs
  src/types/native.rs
  src/types/native/contour_point.rs
  src/types/native/discretized_tree.rs
Due: rust-fmt, rust-test

move 3D poitn trait to types, small refactor of some functions in types with 3D point
  src/ccta/adjust_mesh.rs
  src/types/native/centerline_point.rs
  src/types/native/contour.rs
  src/types/native/contour_point.rs
Due: rust-fmt, rust-test

move downsample_contour_points
  src/intravascular/processing/process_utils.rs
Due: rust-fmt, rust-test

update changelog and bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix documentation compile errors
  docs/api/classes/PyCenterline.rst
  docs/api/classes/PyCenterlinePoint.rst
Due: none

move traits to native and downsample to contour
  src/intravascular/processing/process_utils.rs
  src/types/native.rs
  src/types/native/centerline_point.rs
  src/types/native/contour.rs
  src/types/native/contour_point.rs
Due: rust-fmt, rust-test

implement trait for rotation and translation
  src/intravascular/processing/align_within.rs
  src/intravascular/utils/test_utils.rs
  src/types/binding/py_contour.rs
  src/types/binding/py_frame.rs
  src/types/binding/py_geometry.rs
  src/types/native.rs
  src/types/native/contour.rs
  src/types/native/contour_point.rs
  src/types/native/frame.rs
  src/types/native/geometry.rs
Due: rust-fmt, rust-test

rename centerline normal to tangent
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/discretizing/projecting.rs
  src/ccta/discretizing/utils.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/types/binding/py_centerline_point.rs
  src/types/native/centerline.rs
  src/types/native/centerline_point.rs
Due: rust-fmt, rust-test

refactor: moving input_data to io module since onyl helper struct holding input data
  src/intravascular/io/input.rs
  src/types/binding/py_input_data.rs
  src/types/native.rs
  src/types/native/contour_point.rs
  src/types/native/input_data.rs
  src/types/native/record.rs
Due: rust-fmt, rust-test

remove unused geometry mod
  src/ccta/binding/ccta_py.rs
  src/intravascular/binding/align.rs
  src/intravascular/binding/entry.rs
  src/intravascular/binding/functions.rs
  src/intravascular/centerline_align/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io.rs
  src/intravascular/io/build.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/output.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/processing/wall.rs
  src/intravascular/to_object/interpolation.rs
  src/intravascular/to_object/process.rs
  src/intravascular/to_object/texture.rs
  src/intravascular/to_object/write_mtl.rs
  src/intravascular/utils/general_utils.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

add a radius parameter to centerlinepoint
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/discretizing/projecting.rs
  src/ccta/discretizing/utils.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/input.rs
  src/types/binding/py_centerline_point.rs
  src/types/native/centerline.rs
  src/types/native/centerline_point.rs
Due: rust-fmt, rust-test

implement a vtp parser function
  multimodars/__init__.py
  multimodars/_processing.py
  multimodars/io/write_geometries.py
  multimodars/multimodars.pyi
  src/intravascular/binding.rs
  src/intravascular/binding/functions.rs
  src/intravascular/io/input.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add prettier print statement for centerline
  src/intravascular/binding.rs
  src/intravascular/io/input.rs
  src/lib.rs
  src/types/binding/py_centerline.rs
Due: rust-fmt, rust-test

add cleanup function for vtp data (removing duplicates)
  multimodars/ccta/discretization_map.py
  multimodars/multimodars.pyi
  src/types/binding/py_centerline.rs
  src/types/native/centerline.rs
Due: rust-fmt, rust-test, python-black, python-ruff

small refactor
  src/types/native/centerline.rs
Due: rust-fmt, rust-test

fix better handling of index_search_range equals 0
  src/intravascular/centerline_align/align_algorithms.rs
Due: rust-fmt, rust-test

add smoothing to vtp clean up
  multimodars/multimodars.pyi
  src/ccta/discretizing.rs
  src/intravascular/io/input.rs
  src/types.rs
  src/types/binding/py_centerline.rs
  src/types/native/centerline.rs
  src/types/utils.rs
Due: rust-fmt, rust-test

update documentation
  docs/api/classes/PyCenterlinePoint.rst
  docs/api/converters_and_wrappers.rst
  docs/tutorial_ccta.rst
Due: none

attributes update
  .gitattributes
Due: none

fix legacy import paths to direct import from types
  src/intravascular/centerline_align/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/input.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/processing/wall.rs
  src/intravascular/to_object/interpolation.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

same for geometrypair
  src/intravascular/binding/entry.rs
  src/intravascular/centerline_align/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/to_object/process.rs
Due: rust-fmt, rust-test

clean up more input paths
  src/intravascular/io/build.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
Due: rust-fmt, rust-test

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
