Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

write watertight meshes, update full documentation, add trimesh as dependency
  .gitignore
  ROADMAP.MD
  multimodars/__init__.py
  multimodars/io/read_geometrical.py
  pyproject.toml
  src/ccta/io/convert.rs
  src/ccta/io/input.rs
  src/intravascular/binding/align.rs
  src/intravascular/binding/entry_arr.rs
  src/intravascular/binding/entry_file.rs
  src/intravascular/binding/mod.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/io/output.rs
  src/intravascular/processing/mod.rs
  src/intravascular/processing/process_utils.rs
Due: rust-fmt, rust-test, python-black, python-ruff

update wrappers
  ROADMAP.MD
  multimodars/_wrappers.py
  multimodars/io/read_geometrical.py
  src/ccta/io/input.rs
Due: rust-fmt, rust-test, python-black, python-ruff

read in any 3d file with trimesh
  multimodars/io/read_geometrical.py
  src/ccta/io/input.rs
Due: rust-fmt, rust-test, python-black, python-ruff

remove testing centerlines
  .gitignore
  data/center_smoothed.vtk
  data/centerlines_narco119.csv
Due: none

update function name
  multimodars/__init__.py
Due: python-black, python-ruff

simplify requirements
  Cargo.lock
  Cargo.toml
  docs/conf.py
  pyproject.toml
Due: python-black, python-ruff

block tests for now, since issues with temp files
  src/ccta/io/input.rs
Due: rust-fmt, rust-test

update documentation
  docs/api/utilities.rst
  src/intravascular/binding/mod.rs
Due: rust-fmt, rust-test

provide blueprint io module
  src/intravascular/io/geometry.rs
  src/intravascular/io/load_geometry.rs
  src/intravascular/io/mod.rs
Due: rust-fmt, rust-test

Update README.md
  README.md
Due: none

populate blueprint with existing functions
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/mod.rs
  src/intravascular/io/wall.rs
Due: rust-fmt, rust-test

save progress refactoring
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
Due: rust-fmt, rust-test

finish io module
  .gitignore
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/mod.rs
  src/intravascular/io/output.rs
Due: rust-fmt, rust-test

finish blueprint integrity_check
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
Due: rust-fmt, rust-test

fix imports
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry_arr.rs
  src/intravascular/texture/mod.rs
  src/intravascular/texture/texture.rs
  src/intravascular/utils/test_utils.rs
  src/intravascular/utils/utils.rs
Due: rust-fmt, rust-test

update pyclasses
  src/intravascular/binding/classes.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/io/geometry.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/processing/resampling.rs
Due: rust-fmt, rust-test

add blueprint new processing module
  src/intravascular/io/input.rs
  src/intravascular/mod.rs
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/preprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
Due: rust-fmt, rust-test

add contour rotation update blueprit align_within.rs
  src/intravascular/binding/classes.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/mod.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/preprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
Due: rust-fmt, rust-test

add to align within blueprint
  src/intravascular/io/geometry.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
  src/intravascular/neo_processing/align_within.rs
Due: rust-fmt, rust-test

finish core align within logic
  src/intravascular/neo_processing/align_within.rs
Due: rust-fmt, rust-test

finish align within
  src/intravascular/io/mod.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/wall.rs
Due: rust-fmt, rust-test

format all files
  src/ccta/io/input.rs
  src/ccta/io/mod.rs
  src/ccta/mod.rs
  src/intravascular/binding/align.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry_arr.rs
  src/intravascular/binding/entry_file.rs
  src/intravascular/binding/mod.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
  src/intravascular/io/output.rs
  src/intravascular/mod.rs
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/preprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
  src/intravascular/neo_processing/wall.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/mod.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/processing/resampling.rs
  src/intravascular/utils/test_utils.rs
  src/lib.rs
Due: rust-fmt, rust-test

add blueprint align_between
  src/intravascular/io/geometry.rs
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/wall.rs
Due: rust-fmt, rust-test

fix inplace modification
  src/intravascular/io/geometry.rs
  src/intravascular/neo_processing/align_between.rs
Due: rust-fmt, rust-test

make search_range generic, finish simple align_between
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/postprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
Due: rust-fmt, rust-test

finish boilerplate for InputData and add conversion function
  multimodars/_converters.py
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test, python-black, python-ruff

backup progress
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/io/geometry.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/postprocessing.rs
Due: rust-fmt, rust-test

progress save
  src/intravascular/binding/entry.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/postprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/texture/mod.rs
  src/intravascular/texture/texture.rs
  src/intravascular/utils/test_utils.rs
  src/intravascular/utils/utils.rs
Due: rust-fmt, rust-test

provide blueprint postprocessing
  src/intravascular/io/geometry.rs
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/postprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
Due: rust-fmt, rust-test

finish postprocessing
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/postprocessing.rs
  src/intravascular/neo_processing/process_utils.rs
  src/intravascular/neo_processing/wall.rs
  src/intravascular/texture/mod.rs
  src/intravascular/texture/texture.rs
  src/intravascular/utils/test_utils.rs
  src/intravascular/utils/utils.rs
Due: rust-fmt, rust-test

change module names
  src/intravascular/binding/entry.rs
  src/intravascular/mod.rs
  src/intravascular/neo_processing/align_between.rs
  src/intravascular/neo_processing/align_within.rs
  src/intravascular/neo_processing/mod.rs
  src/intravascular/neo_processing/process_utils.rs
  src/intravascular/old_processing/align_between.rs
  src/intravascular/old_processing/align_within.rs
  src/intravascular/old_processing/mod.rs
  src/intravascular/old_processing/process_utils.rs
  src/intravascular/old_processing/resampling.rs
  src/intravascular/old_processing/walls.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/mod.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/processing/wall.rs
Due: rust-fmt, rust-test

update entry with postprocessing
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/io/mod.rs
  src/intravascular/mod.rs
  src/intravascular/obj_preparation/interpolation.rs
  src/intravascular/obj_preparation/mod.rs
  src/intravascular/obj_preparation/texture.rs
  src/intravascular/processing/align_within.rs
Due: rust-fmt, rust-test

finish interpolations.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/mod.rs
  src/intravascular/obj_preparation/interpolation.rs
  src/intravascular/to_object/interpolation.rs
  src/intravascular/to_object/mod.rs
  src/intravascular/to_object/texture.rs
  src/intravascular/to_object/write_mtl.rs
Due: rust-fmt, rust-test

finish writing of GeometryPair
  src/intravascular/binding/entry.rs
  src/intravascular/to_object/mod.rs
  src/intravascular/to_object/write_mtl.rs
Due: rust-fmt, rust-test

finish binding module
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/processing/preprocessing.rs
Due: rust-fmt, rust-test

clean up, todo alignment
  src/intravascular/binding/entry_arr.rs
  src/intravascular/binding/entry_file.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/old_processing/align_between.rs
  src/intravascular/old_processing/align_within.rs
  src/intravascular/old_processing/mod.rs
  src/intravascular/old_processing/process_utils.rs
  src/intravascular/old_processing/resampling.rs
  src/intravascular/old_processing/walls.rs
  src/lib.rs
Due: rust-fmt, rust-test

finish centerline align module
  src/intravascular/binding/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
  src/intravascular/io/output.rs
Due: rust-fmt, rust-test

finish tests for io module
  Cargo.lock
  Cargo.toml
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/wall.rs
Due: rust-fmt, rust-test

finish io module, fix reading record data
  Cargo.lock
  Cargo.toml
  src/intravascular/io/input.rs
  src/intravascular/io/mod.rs
  src/intravascular/utils/utils.rs
Due: rust-fmt, rust-test

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
