Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

fix normals after conversion and stitching
  multimodars/_converters.py
  multimodars/ccta/adjust_ccta.py
Due: python-black, python-ruff

working setup of fixes (currently messy)
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/adjust_ccta.py
  multimodars/ccta/fixing_functions.py
  pyproject.toml
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test, python-black, python-ruff

small refactor of ccta modules
  ROADMAP.MD
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/adjust_ccta.py
  multimodars/ccta/fixing_functions.py
  multimodars/ccta/labeling.py
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

simplify plotting
  multimodars/__init__.py
  multimodars/ccta/debug_plots.py
Due: python-black, python-ruff

change pymeshlab and pyglet as optional dependencies
  pyproject.toml
Due: none

add try except for pymeshlab
  multimodars/ccta/fixing_functions.py
Due: python-black, python-ruff

ensure correct labling of aorta points
  multimodars/ccta/labeling.py
Due: python-black, python-ruff

add selective mesh saving functionality (by label)
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

add manual_hole filling function
  multimodars/ccta/fixing_functions.py
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

replace anomalous points by pygeometry in stitch_ccta_to_intravascular
  ROADMAP.MD
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

add wrapper functions to ccta module
  ROADMAP.MD
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/fixing_functions.py
  multimodars/ccta/labeling.py
Due: python-black, python-ruff

add tests for ccta functions
  tests/test_ccta.py
Due: python-black, python-ruff

add region export (connecting)
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

add algorithm for stitching vessel either to proximal section or directly to aorta for anomalies
  multimodars/ccta/__init__.py
  multimodars/ccta/manipulating.py
  src/intravascular/binding/classes.rs
  src/intravascular/io/geometry.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix tests
  ROADMAP.MD
  tests/test_ccta.py
Due: python-black, python-ruff

fix missing stub types
  multimodars/__init__.py
  multimodars/_processing.py
  multimodars/multimodars.pyi
  src/ccta/binding/ccta_py.rs
Due: rust-fmt, rust-test, python-black, python-ruff

remove unnecessary stl read in rust
  Cargo.lock
  Cargo.toml
  src/ccta/io/input.rs
  src/ccta/io/mod.rs
  src/ccta/mod.rs
Due: rust-fmt, rust-test

add mypy to pre-commit hook and fix type errors
  .pre-commit-config.yaml
  multimodars/_converters.py
  multimodars/ccta/debug_plots.py
  multimodars/ccta/manipulating.py
  multimodars/multimodars.pyi
  pyproject.toml
Due: python-black, python-ruff

fix 3d area calculation and elliptic ratio caculation add aortic wall optimization
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/intravascular/binding/classes.rs
  src/intravascular/io/geometry.rs
  src/lib.rs
Due: rust-fmt, rust-test

add wall scaling to python side
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/fixing_functions.py
  multimodars/ccta/labeling.py
  multimodars/ccta/manipulating.py
  multimodars/multimodars.pyi
Due: python-black, python-ruff

add new plan
  ROADMAP.MD
  multimodars/ccta/manipulating.py
Due: python-black, python-ruff

improve labeling capabilities
  ROADMAP.MD
  multimodars/_processing.py
  multimodars/multimodars.pyi
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/to_object/mod.rs
Due: rust-fmt, rust-test, python-black, python-ruff

remove unnecessary diastole arguments
  docs/api/adjust_ccta.rst
  docs/conf.py
  docs/figures/dataprep.jpg
  docs/index.rst
  docs/tutorial_intravascular.rst
  multimodars/_processing.py
  multimodars/multimodars.pyi
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/processing/preprocessing.rs
Due: rust-fmt, rust-test, python-black, python-ruff

logically update parameter order
  docs/tutorial_intravascular.rst
  multimodars/_processing.py
  multimodars/multimodars.pyi
  src/intravascular/binding/align.rs
  src/intravascular/binding/mod.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix path explanation
  docs/tutorial_intravascular.rst
  multimodars/_processing.py
  multimodars/multimodars.pyi
Due: python-black, python-ruff

finish tutorial intravascular (before including jupyter notebooks in sphynx)
  docs/tutorial_intravascular.rst
Due: none

update ROADMAP and tutorial_ccta
  ROADMAP.MD
  docs/tutorial_ccta.rst
Due: none

add 0.3.0 changelog
  CHANGELOG.md
Due: none

add scipy as dependency
  pyproject.toml
Due: none

downgrade scipy version for python 3.10
  pyproject.toml
Due: none

fix CI pipeline to only release including python version check
  .github/workflows/CI.yml
Due: none

clippy changes and add clippy to pre-commit while leaving pytest and rust-test only to CI
  .pre-commit-config.yaml
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/mod.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/to_object/interpolation.rs
  src/intravascular/utils/general_utils.rs
  src/intravascular/utils/mod.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

fix typo
  src/intravascular/to_object/interpolation.rs
Due: rust-fmt, rust-test

bump version to 0.3.0
  Cargo.lock
  Cargo.toml
Due: none

fix dependencies as suggested by reviewer
  ROADMAP.MD
  pyproject.toml
Due: none

add plotly as docs dependency
  docs/conf.py
  pyproject.toml
Due: python-black, python-ruff

ensure CI pipeline also installs group dependencies
  .github/workflows/CI.yml
  ROADMAP.MD
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
