Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

finish tests preprocessing, encounter problems in align_withing
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/processing/process_utils.rs
Due: rust-fmt, rust-test

create dummy geometry to check alignment
  Cargo.lock
  src/intravascular/io/geometry.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

start testing dummy_geometry
  src/intravascular/processing/align_within.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

major bug fix in alignment algorithm, add tests
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

fix translation bug, add test for alignment and one hole fix
  src/intravascular/io/geometry.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

finish tests align_within and geometry
  src/intravascular/io/geometry.rs
  src/intravascular/processing/align_within.rs
Due: rust-fmt, rust-test

finish test align_between
  src/intravascular/processing/align_between.rs
Due: rust-fmt, rust-test

add postprocessing tests
  src/intravascular/processing/postprocessing.rs
Due: rust-fmt, rust-test

fix resampling logic
  src/intravascular/processing/postprocessing.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

small ease of use changes align within
  src/intravascular/io/geometry.rs
  src/intravascular/processing/align_within.rs
Due: rust-fmt, rust-test

fix align between to be more precise
  src/intravascular/io/geometry.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/processing/align_between.rs
Due: rust-fmt, rust-test

fix translation error in align_between
  src/intravascular/processing/align_between.rs
Due: rust-fmt, rust-test

replace pytests with simple test for now
  multimodars/__init__.py
  tests/conftest.py
  tests/test_converters.py
  tests/test_core.py
  tests/test_wrappers.py
Due: python-black, python-ruff

update docs
  CHANGELOG.md
  docs/api/classes/PyFrame.rst
  docs/api/classes/PyGeometry.rst
  docs/api/classes/PyGeometryPair.rst
  docs/api/classes/PyInputData.rst
  docs/api/classes/index.rst
  docs/changelog.md
  docs/index.rst
Due: none

format everything
  multimodars/__init__.py
  multimodars/_converters.py
  multimodars/_wrappers.py
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/io/geometry.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/utils/test_utils.rs
  tests/conftest.py
  tests/test_converters.py
  tests/test_core.py
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

add additional test data needed for tests
  .gitignore
  data/ivus_full/branch_diastolic_contours.csv
  data/ivus_full/branch_systolic_contours.csv
  data/ivus_full/calcium_diastolic_contours.csv
  data/ivus_full/calcium_systolic_contours.csv
  data/ivus_full/diastolic_contours.csv
  data/ivus_full/diastolic_reference_points.csv
  data/ivus_full/eem_diastolic_contours.csv
  data/ivus_full/eem_systolic_contours.csv
  data/ivus_full/systolic_contours.csv
  data/ivus_full/systolic_reference_points.csv
Due: none

remove unnecessary assignment in postprocessing bump version
  Cargo.lock
  Cargo.toml
  docs/conf.py
  pyproject.toml
  src/intravascular/processing/postprocessing.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix documentation
  docs/api/processing.rst
  docs/api/utilities.rst
Due: none

add centerline sphere bounded points identification
  Cargo.lock
  Cargo.toml
  multimodars/__init__.py
  multimodars/io/read_geometrical.py
  src/ccta/binding/label_py.rs
  src/ccta/binding/mod.rs
  src/ccta/label_mesh/label_coronary.rs
  src/ccta/label_mesh/mod.rs
  src/ccta/mod.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

make fill hole functions less restrictive
  README.md
  docs/api/utilities.rst
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/processing/align_within.rs
Due: rust-fmt, rust-test

update changelog
  CHANGELOG.md
Due: none

update version
  Cargo.lock
  Cargo.toml
  docs/conf.py
  pyproject.toml
Due: python-black, python-ruff

fix typo
  paper/paper.md
Due: none

implement ray-triangle intersection to identify aortic faces
  data/centerline_aorta.csv
  data/centerline_raw.csv
  multimodars/io/read_geometrical.py
  src/ccta/binding/label_py.rs
  src/ccta/label_mesh/label_coronary.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

implement stable labeling of mesh components
  multimodars/__init__.py
  multimodars/ccta/__init__.py
  multimodars/ccta/adjust_ccta.py
  multimodars/io/read_geometrical.py
Due: python-black, python-ruff

add centerline-based scaling of coronary diameter
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/mod.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/ccta/binding/mod.rs
  src/ccta/label_mesh/mod.rs
  src/ccta/mod.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add 3 point alignment with hausdorff distance adjustment function
  data/centerline_aorta.csv
  data/centerline_lca.csv
  data/centerline_rca.csv
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/scale_coronary.rs
  src/intravascular/binding/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/processing/mod.rs
  src/intravascular/processing/process_utils.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

update ROADMAP
  ROADMAP.MD
Due: none

add (roughly) working labeling of anomalous coronary section
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add function to find best scaling factors
  ROADMAP.MD
  multimodars/ccta/adjust_ccta.py
  src/ccta/io/convert.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add cleanup function and converter to inputdata
  .gitignore
  ROADMAP.MD
  multimodars/__init__.py
  multimodars/_converters.py
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/intravascular/io/input.rs
  src/intravascular/io/mod.rs
  src/intravascular/processing/align_within.rs
  src/lib.rs
  tests/test_converters.py
Due: rust-fmt, rust-test, python-black, python-ruff

add stable rust implementation for finding scaling factors
  ROADMAP.MD
  multimodars/__init__.py
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  test_adjust_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

find reference points for aortic wall
  multimodars/ccta/adjust_ccta.py
  test_adjust_ccta.py
Due: python-black, python-ruff

add adjust aortic scaling functionality
  ROADMAP.MD
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/mod.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  test_adjust_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

small changes
  Cargo.lock
  Cargo.toml
  ROADMAP.MD
  multimodars/ccta/adjust_ccta.py
  pyproject.toml
Due: python-black, python-ruff

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
