Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

.pre-commit-config.yaml:

# repos:
#   - repo: local
#     hooks:
#       - id: rust-fmt
#         name: Rust format (cargo fmt)
#         entry: bash -lc 'cargo fmt'
#         language: system
#         types: [rust]

#       - id: rust-test
#         name: Rust unit tests
#         entry: bash -lc 'cargo test --lib --quiet'
#         language: system
#         # only run when Rust files change
#         files: \.rs$

#       - id: local-black
#         name: Black
#         entry: bash -lc 'run black'
#         language: system
#         types: [python]

#       - id: local-ruff
#         name: Ruff
#         entry: bash -lc 'ruff check --fix'
#         language: system
#         types: [python]

repos:
  - repo: local
    hooks:
      # Rust formatting - operates on whole project
      - id: rust-fmt
        name: Rust format
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false  # Important for project-wide commands

      # Rust tests - whole project
      - id: rust-test
        name: Rust unit tests
        entry: cargo test --lib --quiet
        language: system
        types: [rust]
        pass_filenames: false  # Important

      # Python formatting
      - id: python-black
        name: Black formatting
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--quiet]

      # Python linting
      - id: python-ruff
        name: Ruff linting
        entry: ruff
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

final fix tutorial
  docs/index.rst
  docs/tutorial.rst
Due: none

fix sorting algorithm
  docs/tutorial.rst
  src/binding/entry_arr.rs
  src/binding/mod.rs
Due: rust-fmt, rust-test

fix test by fixing order
  src/binding/entry_arr.rs
  tests/test_class_methods.py
  tests/test_core.py
  tests/tests_todo.md
Due: rust-fmt, rust-test, python-black, python-ruff

finish paper and tutorial
  docs/tutorial.rst
  paper/paper.md
Due: none

fix typo in tutorial
  docs/tutorial.rst
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

paper and tutorial clean up
  docs/tutorial.rst
  paper/paper.md
Due: none

add paper compilation workflow
  .github/workflows/draft-pdf.yml
  ROADMAP.MD
Due: none

Add link to LICENSE in README.md
  README.md
Due: none

Update Installation section in README.md
  README.md
Due: none

fix rotation alignment states
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/processing/align_between.rs
  src/processing/align_within.rs
  src/processing/resampling.rs
Due: rust-fmt, rust-test

clean up alignment between
  multimodars/_wrappers.py
  src/processing/align_between.rs
Due: rust-fmt, rust-test, python-black, python-ruff

update paper
  ROADMAP.MD
  docs/index.rst
  paper/paper.md
Due: none

Review paper.md
  paper/paper.md
Due: none

update paper
  Cargo.lock
  Cargo.toml
  ROADMAP.MD
  paper/figures/Figure1.jpg
  paper/figures/Figure2.jpg
  paper/figures/Figure3.jpg
  paper/paper.md
  src/binding/classes.rs
Due: rust-fmt, rust-test

fix readthedocs workflow
  .readthedocs.yaml
Due: none

fix version mismatch
  .readthedocs.yaml
  Cargo.toml
Due: none

fix pip wheel
  .readthedocs.yaml
Due: none

fix 1.87.0 not stable yet
  .readthedocs.yaml
Due: none

add sanity check (locally runs without problems)
  .readthedocs.yaml
Due: none

update figures and authors
  paper/figures/Figure2.jpg
  paper/figures/Figure3.jpg
  paper/paper.md
Due: none

refactor documentation
  docs/api.md
  docs/api/centerline.rst
  docs/api/classes/PyCenterline.rst
  docs/api/classes/PyCenterlinePoint.rst
  docs/api/classes/PyContour.rst
  docs/api/classes/PyContourPoint.rst
  docs/api/classes/PyGeometry.rst
  docs/api/classes/PyGeometryPair.rst
  docs/api/classes/PyRecord.rst
  docs/api/classes/index.rst
  docs/api/converters_and_wrappers.rst
  docs/api/core.rst
  docs/api/index.rst
  docs/api/processing.rst
  docs/api/utilities.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/tutorial.rst
  src/binding/classes.rs
Due: rust-fmt, rust-test, python-black, python-ruff

finalize publication version
  Cargo.lock
  Cargo.toml
  README.md
  docs/api/classes/PyRecord.rst
  docs/conf.py
  paper/paper.md
  pyproject.toml
  src/binding/classes.rs
Due: rust-fmt, rust-test, python-black, python-ruff

shorten paper, update license, minor changes documentation
  .gitignore
  LICENSE
  docs/index.rst
  docs/installation.rst
  paper/paper.md
Due: none

minor changes
  docs/tutorial.rst
Due: none

fix formatting errors
  paper/paper.md
Due: none

fix figure references
  paper/paper.md
Due: none

fix affiliations, bibliography and license
  LICENSE
  README.md
  paper/bibliography.bib
  paper/paper.md
Due: none

fix affiliations, bibliography and license
  paper/bibliography.bib
Due: none

fix affiliations
  paper/paper.md
Due: none

change author order
  paper/paper.md
Due: none

clean up comments
  multimodars/_converters.py
  multimodars/_wrappers.py
  multimodars/io/write_geometries.py
Due: python-black, python-ruff

move intravascular logic into intravascular module
  src/ccta/mod.rs
  src/intravascular/binding/align.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry_arr.rs
  src/intravascular/binding/entry_file.rs
  src/intravascular/binding/mod.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/input.rs
  src/intravascular/io/load_geometry.rs
  src/intravascular/io/mod.rs
  src/intravascular/io/output.rs
  src/intravascular/mod.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/mod.rs
  src/intravascular/processing/process_utils.rs
  src/intravascular/processing/resampling.rs
  src/intravascular/processing/walls.rs
  src/intravascular/texture/mod.rs
  src/intravascular/texture/texture.rs
  src/intravascular/utils/mod.rs
  src/intravascular/utils/test_utils.rs
  src/intravascular/utils/utils.rs
  src/lib.rs
Due: rust-fmt, rust-test

add stl reader for ccta mesh
  Cargo.lock
  Cargo.toml
  src/ccta/io/input.rs
  src/ccta/io/mod.rs
  src/ccta/mod.rs
  src/lib.rs
Due: rust-fmt, rust-test

create a labeled mesh after reading in
  src/ccta/io/input.rs
  src/intravascular/io/input.rs
Due: rust-fmt, rust-test
