Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

add tests for new functions (ai generated)
  tests/test_ccta.py
Due: python-black, python-ruff

fix mypy issues
  .gitignore
  multimodars/_converters.py
  multimodars/ccta/debug_plots.py
  multimodars/ccta/manipulating.py
  multimodars/io/__init__.py
  multimodars/io/read_geometrical.py
  multimodars/io/write_geometries.py
  tests/test_ccta.py
  tests/test_converters.py
  tests/test_core.py
  tests/test_wrappers.py
Due: python-black, python-ruff

changed "{}", var to "{var}" style
  src/ccta/adjust_mesh/label_coronary.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/entry.rs
  src/intravascular/binding/mod.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/io/geometry.rs
  src/intravascular/io/input.rs
  src/intravascular/io/integrity_check.rs
  src/intravascular/io/mod.rs
  src/intravascular/io/output.rs
  src/intravascular/processing/align_between.rs
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/postprocessing.rs
  src/intravascular/processing/preprocessing.rs
  src/intravascular/to_object/mod.rs
  src/intravascular/to_object/write_mtl.rs
  src/intravascular/utils/general_utils.rs
  src/intravascular/utils/test_utils.rs
Due: rust-fmt, rust-test

small update changelog
  CHANGELOG.md
Due: none

set up gitattributes
  .gitattributes
Due: none

Initial centelrine labeling functionaliy
  ROADMAP.MD
  play.py
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/discretizing/plan.md
  src/intravascular/binding/classes.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/preprocessing.rs
  src/intravascular/io/input.rs
  tests/test_intravascular.py
Due: rust-fmt, rust-test, python-black, python-ruff

update plot
  play.py
Due: python-black, python-ruff

refactor calculate_branches add prototype for split by sharp angle
  play.py
  src/intravascular/io/input.rs
  src/intravascular/to_object/interpolation.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fixing splitting error, so main segment can also be split
  play.py
  src/intravascular/io/input.rs
Due: rust-fmt, rust-test, python-black, python-ruff

seperate calculate branches logic from sharp angle, splitting and merging
  multimodars/multimodars.pyi
  play.py
  src/intravascular/binding/classes.rs
  src/intravascular/io/input.rs
Due: rust-fmt, rust-test, python-black, python-ruff

build initial version to project ccta points to planes
  multimodars/__init__.py
  multimodars/_processing.py
  multimodars/multimodars.pyi
  play.py
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing/creating.rs
  src/ccta/discretizing/mod.rs
  src/ccta/discretizing/projecting.rs
  src/ccta/mod.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

include Voronoi algorithm to handle curved vessels more reliably.
  play.py
  src/ccta/discretizing/projecting.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add get_branch method
  multimodars/multimodars.pyi
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test

add label_branches function
  multimodars/__init__.py
  multimodars/ccta/labeling.py
  play.py
Due: python-black, python-ruff

fix walk_centerline_slices to work with all branches
  play.py
  src/ccta/discretizing/projecting.rs
Due: rust-fmt, rust-test, python-black, python-ruff

labeling automatically assigns different side branches
  multimodars/ccta/labeling.py
  play.py
  src/ccta/discretizing/projecting.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix odering of branches to physiological
  multimodars/multimodars.pyi
  play.py
  src/intravascular/binding/classes.rs
  src/intravascular/io/input.rs
Due: rust-fmt, rust-test, python-black, python-ruff

initial working draft for automatic discretization with ref points
  multimodars/__init__.py
  multimodars/_processing.py
  multimodars/multimodars.pyi
  play.py
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing/data.rs
  src/ccta/discretizing/mod.rs
  src/ccta/discretizing/utils.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

refactor of resampling and vessel_tree
  multimodars/multimodars.pyi
  src/ccta/binding/ccta_py.rs
  src/ccta/discretizing/mod.rs
  src/ccta/discretizing/resampling.rs
  src/ccta/discretizing/vessel_tree.rs
Due: rust-fmt, rust-test

refactor projecting
  docs/installation.rst
  src/ccta/discretizing/projecting.rs
Due: rust-fmt, rust-test

refactor vessel tree and simplify _extrac_wall_from_frames helper
  multimodars/ccta/manipulating.py
  src/ccta/discretizing/vessel_tree.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix smooth centerline util to use symmetric truncation (before values were not preserved)
  src/ccta/discretizing/utils.rs
Due: rust-fmt, rust-test

add sharp edges debug plot
  examples/fullworkflow.py
  multimodars/__init__.py
  multimodars/ccta/debug_plots.py
  multimodars/ccta/discretization_map.py
Due: python-black, python-ruff

add Pycenterline branch_start_indices to Changelog
  CHANGELOG.md
Due: none

bump version sand packages adjust to new pyo3 bindings
  Cargo.lock
  Cargo.toml
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
