Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

.pre-commit-config.yaml:

# repos:
#   - repo: local
#     hooks:
#       - id: rust-fmt
#         name: Rust format (cargo fmt)
#         entry: bash -lc 'cargo fmt'
#         language: system
#         types: [rust]

#       - id: rust-test
#         name: Rust unit tests
#         entry: bash -lc 'cargo test --lib --quiet'
#         language: system
#         # only run when Rust files change
#         files: \.rs$

#       - id: local-black
#         name: Black
#         entry: bash -lc 'run black'
#         language: system
#         types: [python]

#       - id: local-ruff
#         name: Ruff
#         entry: bash -lc 'ruff check --fix'
#         language: system
#         types: [python]

repos:
  - repo: local
    hooks:
      # Rust formatting - operates on whole project
      - id: rust-fmt
        name: Rust format
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false  # Important for project-wide commands

      # Rust tests - whole project
      - id: rust-test
        name: Rust unit tests
        entry: cargo test --lib --quiet
        language: system
        types: [rust]
        pass_filenames: false  # Important

      # Python formatting
      - id: python-black
        name: Black formatting
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--quiet]

      # Python linting
      - id: python-ruff
        name: Ruff linting
        entry: ruff
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

small spacing error
  multimodars/ccta/labeling.py
Due: python-black, python-ruff

include developer setup and condense README
  README.md
  docs/installation.rst
Due: none

include most important workflow images in README
  README.md
Due: none

update changelog
  CHANGELOG.md
Due: none

small edit CHANGELOG
  CHANGELOG.md
Due: none

add soft dependency networkx
  pyproject.toml
Due: none

include meshlab in CI pipeline for notebook
  .github/workflows/CI.yml
Due: none

test version update
  .github/workflows/CI.yml
Due: none

fails only on CI not locally because of libopengl0 dependency
  .github/workflows/CI.yml
Due: none

document libopengl0 dpendency issue and update versions in CI.yml pipeline
  .github/workflows/CI.yml
  CHANGELOG.md
Due: none

bump version
  Cargo.lock
  Cargo.toml
Due: none

fix readthedocs pipeline to work with new dependecies structure
  .readthedocs.yaml
Due: none

simplify readthedocs pipeline
  .readthedocs.yaml
Due: none

trying very simple approach
  .readthedocs.yaml
Due: none

add benchmark suite
  README.md
  benchmarks/BENCHMARK_PLAN.md
  benchmarks/benchmark_bruteforce_stepsize.py
  benchmarks/benchmark_cpu_scaling.py
  benchmarks/results/bruteforce_stepsize.png
  benchmarks/results/cpu_scaling.png
  docs/benchmark.rst
  docs/index.rst
  multimodars/__init__.py
Due: python-black, python-ruff

optimize parallelization
  src/intravascular/processing/align_within.rs
  src/intravascular/processing/process_utils.rs
Due: rust-fmt, rust-test

include performance section in paper
  paper/paper.md
Due: none

update results after optimized parallelization strategy
  benchmarks/results/cpu_scaling.png
  docs/benchmark.rst
  paper/paper.md
Due: none

bump version to v0.3.2
  Cargo.lock
  Cargo.toml
Due: none

update paper according to reviews
  benchmarks/benchmark_bruteforce_stepsize.py
  benchmarks/results/bruteforce_stepsize.png
  docs/benchmark.rst
  paper/REVIEWER2.md
  paper/bibliography.bib
  paper/paper.md
Due: python-black, python-ruff

small typo
  CHANGELOG.md
Due: none

update citations
  paper/paper.md
Due: none

update citations
  paper/bibliography.bib
  paper/paper.md
Due: none

fix citations, missing dependency and UnicodeDecodeError
  benchmarks/benchmark_cpu_scaling.py
  paper/paper.md
  pyproject.toml
Due: python-black, python-ruff

removed chatGPT version number since several were used
  paper/paper.md
Due: none

add citation.cff
  CITATION.cff
Due: none

cleanup joss submission version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: none

update ROADMAP
  ROADMAP.MD
Due: none

prepare generic alignment functions
  multimodars/_processing.py
  multimodars/multimodars.pyi
  src/ccta/adjust_mesh/label_coronary.rs
  src/intravascular/binding/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/to_object/mod.rs
Due: rust-fmt, rust-test, python-black, python-ruff

provide tests to show same results with pygeometry and pygeometrypair
  tests/test_intravascular.py
Due: python-black, python-ruff

update changelog and version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

test to ensure labeling is correct
  ROADMAP.MD
  src/intravascular/binding/mod.rs
Due: rust-fmt, rust-test
