Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

.pre-commit-config.yaml:

# repos:
#   - repo: local
#     hooks:
#       - id: rust-fmt
#         name: Rust format (cargo fmt)
#         entry: bash -lc 'cargo fmt'
#         language: system
#         types: [rust]

#       - id: rust-test
#         name: Rust unit tests
#         entry: bash -lc 'cargo test --lib --quiet'
#         language: system
#         # only run when Rust files change
#         files: \.rs$

#       - id: local-black
#         name: Black
#         entry: bash -lc 'run black'
#         language: system
#         types: [python]

#       - id: local-ruff
#         name: Ruff
#         entry: bash -lc 'ruff check --fix'
#         language: system
#         types: [python]

repos:
  - repo: local
    hooks:
      # Rust formatting - operates on whole project
      - id: rust-fmt
        name: Rust format
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false  # Important for project-wide commands

      # Rust tests - whole project
      - id: rust-test
        name: Rust unit tests
        entry: cargo test --lib --quiet
        language: system
        types: [rust]
        pass_filenames: false  # Important

      # Python formatting
      - id: python-black
        name: Black formatting
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--quiet]

      # Python linting
      - id: python-ruff
        name: Ruff linting
        entry: ruff
        language: system
        types: [python]
        args: [--fix, --exit-non-zero-on-fix]

build adjacenecy maps
  multimodars/ccta/__init__.py
  multimodars/ccta/adjust_ccta.py
  src/ccta/binding/ccta_py.rs
  src/lib.rs
  test_adjust_ccta.py
Due: rust-fmt, rust-test, python-black, python-ruff

bump version and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/api/utilities.rst
  docs/conf.py
  docs/tutorial_intravascular.rst
  pyproject.toml
Due: python-black, python-ruff

change version control pyproject.toml and CI.yml
  .github/workflows/CI.yml
  pyproject.toml
Due: none

format all documents
  docs/conf.py
  multimodars/__init__.py
  multimodars/_converters.py
  multimodars/ccta/adjust_ccta.py
  src/ccta/adjust_mesh/label_coronary.rs
  src/ccta/adjust_mesh/mod.rs
  src/ccta/adjust_mesh/scale_coronary.rs
  src/ccta/binding/ccta_py.rs
  src/ccta/binding/mod.rs
  src/ccta/mod.rs
  src/intravascular/binding/align.rs
  src/intravascular/centerline_align/align_algorithms.rs
  src/intravascular/centerline_align/mod.rs
  src/intravascular/processing/align_within.rs
  src/lib.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix documentation error and add dynamic version
  docs/conf.py
  docs/index.rst
  pyproject.toml
Due: python-black, python-ruff

fix type annotations versioning conflict
  Cargo.lock
  Cargo.toml
  multimodars/io/read_geometrical.py
Due: python-black, python-ruff

add new paper submission
  .gitignore
  paper/bibliography.bib
  paper/figures/Figure3.png
  paper/figures/Figure4.jpg
  paper/paper.md
Due: none

minor changes
  paper/bibliography.bib
  paper/paper.md
Due: none

update examples in README, fix documentations and add doi to bibliography
  README.md
  docs/tutorial_intravascular.rst
  paper/bibliography.bib
Due: none

update documentation with new example data
  docs/installation.rst
  docs/tutorial_ccta.rst
  docs/tutorial_intravascular.rst
Due: none

update CHANGELOG and README
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: none

add docstrings for adjust_ccta, remove non-functional wrappers
  README.md
  multimodars/__init__.py
  multimodars/_wrappers.py
  multimodars/ccta/adjust_ccta.py
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test, python-black, python-ruff

update documentation and tests
  docs/api/adjust_ccta.rst
  docs/api/centerline.rst
  docs/api/converters_and_wrappers.rst
  docs/api/index.rst
  paper/bibliography.bib
  tests/test_wrappers.py
Due: python-black, python-ruff

unify docstring style
  docs/api/adjust_ccta.rst
  multimodars/_converters.py
  src/ccta/binding/ccta_py.rs
  src/intravascular/binding/align.rs
  src/intravascular/binding/classes.rs
  src/intravascular/binding/mod.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix docs duplicate errors
  docs/api/classes/PyContour.rst
  docs/api/classes/PyGeometryPair.rst
Due: none

improve PyFrame representation
  docs/tutorial_ccta.rst
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test

numpy_to_inputdata record should default to None
  multimodars/_converters.py
Due: python-black, python-ruff

update intravascular tutorial
  docs/tutorial_intravascular.rst
Due: none

update templates and add __future__ annotation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  multimodars/_converters.py
  multimodars/ccta/adjust_ccta.py
  multimodars/io/write_geometries.py
Due: python-black, python-ruff

link to example data
  README.md
Due: none

Prepare answer sheet reviewer 1
  paper/REVIEWER1.md
  paper/figures/Figure2.jpg
  paper/paper.md
Due: none

Change to top level import moder style annotation and remove star import
  README.md
  docs/tutorial_ccta.rst
  docs/tutorial_intravascular.rst
  multimodars/__init__.py
  multimodars/_converters.py
  multimodars/ccta/adjust_ccta.py
  multimodars/io/write_geometries.py
  paper/REVIEWER1.md
Due: python-black, python-ruff

add type stubs
  multimodars/multimodars.pyi
  multimodars/py.typed
  paper/REVIEWER1.md
Due: none

update contributing file
  CONTRIBUTING.md
  paper/REVIEWER1.md
Due: none

fix documentation for python version and make cleaner
  .github/workflows/CI.yml
  docs/api/adjust_ccta.rst
  docs/api/converters_and_wrappers.rst
  docs/installation.rst
  paper/REVIEWER1.md
  pyproject.toml
Due: none

fix missing function in docs and remove non working python version 3.9
  .github/workflows/CI.yml
  docs/installation.rst
  multimodars/__init__.py
  paper/REVIEWER1.md
  pyproject.toml
Due: python-black, python-ruff

update the example data with frame fixing
  README.md
  docs/tutorial_ccta.rst
  docs/tutorial_intravascular.rst
  paper/REVIEWER1.md
Due: none

add new methods for PyFrame replacement, finalize review
  CHANGELOG.md
  multimodars/multimodars.pyi
  paper/REVIEWER1.md
  src/intravascular/binding/classes.rs
Due: rust-fmt, rust-test

bump version
  Cargo.lock
  Cargo.toml
Due: none

improve stubs
  multimodars/__init__.py
  multimodars/multimodars.pyi
Due: python-black, python-ruff

improve stubs add processing in polars style
  multimodars/_processing.py
Due: python-black, python-ruff

move debug plots to own module
  multimodars/ccta/__init__.py
  multimodars/ccta/debug_plots.py
Due: python-black, python-ruff

add a point deleting function to adjust_ccta and set up stitching
  multimodars/ccta/adjust_ccta.py
Due: python-black, python-ruff

add prototype stitching
  multimodars/__init__.py
  multimodars/_converters.py
  multimodars/ccta/adjust_ccta.py
Due: python-black, python-ruff

fix stitching by using an outward_reference
  multimodars/ccta/adjust_ccta.py
Due: python-black, python-ruff
