Repository yungselm/multimoda-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-test, python-black, python-ruff

rust-fmt:
  name: Rust format
  entry: cargo fmt --all
  language: system
  pass_filenames: false

rust-test:
  name: Rust unit tests
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false

python-black:
  name: Black formatting
  entry: black
  language: system
  require_serial: true
  args:
  - --quiet

python-ruff:
  name: Ruff linting
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

try add test to CI pipeline
  .github/workflows/CI.yml
Due: none

add test in CI pipeline
  .github/workflows/CI.yml
Due: none

add autoformatting to CI
  .github/workflows/CI.yml
Due: none

Apply rustfmt whitespace cleanup
  src/processing/geometries.rs
Due: rust-fmt, rust-test

format rust add furo theme
  docs/conf.py
  src/binding/align.rs
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/mod.rs
  src/centerline_align/mod.rs
  src/centerline_align/preprocessing.rs
  src/io/input.rs
  src/lib.rs
  src/processing/contours.rs
Due: rust-fmt, rust-test, python-black, python-ruff

simplify CI pipeline
  .github/workflows/CI.yml
Due: none

fix mismatched types
  .github/workflows/CI.yml
  ROADMAP.MD
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/centerline_align/align_algorithms.rs
  src/centerline_align/preprocessing.rs
  src/io/input.rs
  src/io/mod.rs
  src/processing/comparison.rs
  src/processing/contours.rs
  src/processing/geometries.rs
  src/processing/process_case.rs
  src/utils/test_utils.rs
Due: rust-fmt, rust-test

list all functions
  multimodars/__init__.py
Due: python-black, python-ruff

fix major bug in optimal rotation algorithm, minor changes
  CONTRIBUTING.md
  ROADMAP.MD
  data/fixtures/test_data/diastolic_contours.csv
  data/fixtures/test_data/diastolic_reference_points.csv
  data/fixtures/test_data/frame_to_frame_transforms.txt
  data/fixtures/test_data/systolic_contours.csv
  data/fixtures/test_data/systolic_reference_points.csv
  multimodars/_converters.py
  multimodars/_wrappers.py
  src/binding/classes.rs
  src/binding/mod.rs
  src/processing/contours.rs
  tests/test_class_methods.py
  tests/test_converters.py
  tests/test_core.py
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

propagate alignment logs to top layer (python binding)
  multimodars/_wrappers.py
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/processing/contours.rs
  src/processing/geometries.rs
  src/processing/process_case.rs
  tests/conftest.py
  tests/test_core.py
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

add new test data
  data/fixtures/idealized_geometry/diastolic_contours.csv
  data/fixtures/idealized_geometry/diastolic_reference_points.csv
  data/fixtures/idealized_geometry/systolic_contours.csv
  data/fixtures/idealized_geometry/systolic_reference_points.csv
  data/fixtures/idealized_test/diastolic_contours.csv
  data/fixtures/idealized_test/diastolic_reference_points.csv
  data/fixtures/idealized_test/frame_to_frame_transforms.txt
  data/fixtures/idealized_test/systolic_contours.csv
  data/fixtures/idealized_test/systolic_reference_points.csv
  data/fixtures/test_data/diastolic_contours.csv
  data/fixtures/test_data/frame_to_frame_transforms.txt
  data/fixtures/test_data/systolic_contours.csv
  multimodars/_wrappers.py
  tests/test_wrappers.py
Due: python-black, python-ruff

fix from array workflow
  data/fixtures/dia_rest_catheter.npy
  data/fixtures/dia_rest_contours.npy
  data/fixtures/dia_rest_ref_pt.npy
  data/fixtures/dia_rest_walls.npy
  data/fixtures/dia_stress_catheter.npy
  data/fixtures/dia_stress_contours.npy
  data/fixtures/dia_stress_ref_pt.npy
  data/fixtures/dia_stress_walls.npy
  data/fixtures/diastolic_contours.txt
  data/fixtures/idealized_geometry/diastolic_contours.csv
  data/fixtures/idealized_geometry/diastolic_reference_points.csv
  data/fixtures/idealized_geometry/systolic_contours.csv
  data/fixtures/idealized_geometry/systolic_reference_points.csv
  data/fixtures/sys_rest_catheter.npy
  data/fixtures/sys_rest_contours.npy
  data/fixtures/sys_rest_ref_pt.npy
  data/fixtures/sys_rest_walls.npy
  data/fixtures/sys_stress_catheter.npy
  data/fixtures/sys_stress_contours.npy
  data/fixtures/sys_stress_ref_pt.npy
  data/fixtures/sys_stress_walls.npy
  multimodars/_wrappers.py
  src/binding/entry_arr.rs
  src/binding/mod.rs
  tests/conftest.py
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

format python and docstrings
  docs/conf.py
  multimodars/__init__.py
  multimodars/_converters.py
  multimodars/_wrappers.py
  multimodars/io/read_geometrical.py
  tests/conftest.py
  tests/test_converters.py
  tests/test_core.py
  tests/test_wrappers.py
Due: python-black, python-ruff

format rust change ci pipeline to autoformat without check
  .github/workflows/CI.yml
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/processing/contours.rs
  src/processing/geometries.rs
  src/processing/process_case.rs
Due: rust-fmt, rust-test

add test build badge in README
  README.md
Due: none

finish tests for alignment and corresponding bug fixes
  data/oct_single/oct_ref.csv
  examples/ivus_to_centerline.ipynb
  multimodars/_wrappers.py
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

update to first stable version
  Cargo.lock
  Cargo.toml
  docs/conf.py
  pyproject.toml
Due: python-black, python-ruff

First stable release readd
  README.md
Due: none

backup refactor
  multimodars/__init__.py
  src/binding/centerline_align.rs
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/centerline_align/mod.rs
  src/centerline_align/preprocessing.rs
  src/io/input.rs
  src/io/mod.rs
  src/io/output.rs
  src/lib.rs
  src/processing/align_between.rs
  src/processing/align_within.rs
  src/processing/mod.rs
  src/processing/process_case.rs
  src/processing/resampling.rs
Due: rust-fmt, rust-test, python-black, python-ruff

refactor, processing workflow in mod.rs and write optional now
  multimodars/_wrappers.py
  pyproject.toml
  src/binding/classes.rs
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/centerline_align/mod.rs
  src/centerline_align/preprocessing.rs
  src/processing/align_between.rs
  src/processing/align_within.rs
  src/processing/mod.rs
  src/processing/process_utils.rs
  src/processing/resampling.rs
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

fix missing license banner
  LICENSE
  README.md
  pyproject.toml
Due: none

fix pyproject.toml license
  pyproject.toml
Due: none

other try fix license
  Cargo.toml
  pyproject.toml
Due: none

write and return resampled centerline
  README.md
  multimodars/__init__.py
  multimodars/_wrappers.py
  multimodars/io/__init__.py
  multimodars/io/read_geometrical.py
  multimodars/io/write_geometries.py
  src/binding/align.rs
  src/binding/classes.rs
  src/centerline_align/mod.rs
Due: rust-fmt, rust-test, python-black, python-ruff

add downsampling to align within
  examples/ivus_to_centerline.ipynb
  src/processing/align_between.rs
  src/processing/align_within.rs
  src/processing/process_utils.rs
Due: rust-fmt, rust-test

refactor for optimized steps, bug for range
  multimodars/_wrappers.py
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/processing/align_between.rs
  src/processing/align_within.rs
  src/processing/mod.rs
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

finish optimization with distributed step sizes
  multimodars/_wrappers.py
  src/binding/entry_arr.rs
  src/binding/entry_file.rs
  src/binding/mod.rs
  src/processing/align_within.rs
  src/processing/mod.rs
  tests/test_wrappers.py
Due: rust-fmt, rust-test, python-black, python-ruff

fix resampling of centerline
  src/binding/classes.rs
  src/centerline_align/preprocessing.rs
  src/processing/align_between.rs
Due: rust-fmt, rust-test

add summary function
  Cargo.lock
  Cargo.toml
  docs/conf.py
  pyproject.toml
  src/binding/classes.rs
Due: rust-fmt, rust-test, python-black, python-ruff

fix docstring get_summary
  src/binding/classes.rs
Due: rust-fmt, rust-test

fix docstring again...
  src/binding/classes.rs
Due: rust-fmt, rust-test

progress paper
  paper/bibliography.bib
  paper/figures/Figure1.jpg
  paper/figures/Figure2.jpg
  paper/figures/Figure3.jpg
  paper/paper.md
  src/binding/classes.rs
Due: rust-fmt, rust-test

fix missing blank lines in .rst
  docs/index.rst
  docs/tutorial.rst
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-test: any of: \.rs$
  python-black: any of: \.py$
  python-ruff: any of: \.py$
